
.dashboardHeader{
    display: flex;
    display: flex;
    height: 20vh;
    margin-left: 10%;
    color: orange;
    align-items: baseline;
    justify-content: space-around;
}
.logoutbuttanforclear{
    background: orange;
    border: 1px solid #1877f2;
    color: #f5eeee;
    font-size: 1.25rem;
    
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 100px;
    font-weight: 800;
    height: 7vh;
    cursor: pointer;
}
.dashboardmaindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    flex-direction: column;
    text-align: center;
}
.dashboardheading{
    color: orange;
    
}
.dasboardbtn{
    color: white;
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 26px;
    border: none;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
}
.dashboardparagraph{
    color: orange;
}
.dashboardlistingcontent{
    display: flex;
    flex-direction: column;
    text-align: left;
   
}
.listingceontent{
    margin-top: 10px;
    font-size: 20px;
    color:black;
   
    
}
.listingceontent label{
margin-left: 10px;
cursor: pointer;
color: black;
outline: none;
}
.dasboardlistingbtn{
    width: 23px;
    height: 23px;
    border-radius: 26px;
    border: 5px solid gray;
    cursor: pointer;
   
}
.dashboardformHeader{
    height: 8vh;
    margin-left: 10%;
    color: orange;
}
.dashboardformmaindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}
.farmerform input {
padding: 7px;
width: 50%;
}
.farmerform select{
    padding: 7px;
    width: 55%;
}
.forminnerdivstyel{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    text-align: left;
    margin-left: 15%;
    margin-top: 8%;
}
.forminnerdivsecondstyle{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    text-align: left;
    margin-left: -15%;

}
.farmerform{
 display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    box-shadow: 20px 20px 50px grey;
    width: 80%;
    flex-wrap: nowrap;
    
}
.farmerformmaindiv{
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: auto 0;
     width: 80%;
    
}

 .formersubmitbutton{
    background-color: orange;
    color: white;
    font-size: 29px;
    border-radius: 6px;
    border: none;
    width: 26%;
    cursor: pointer;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
} 
.fieldlistingformheight{
    height: 75vh;
}

@media only screen and (max-width: 768px){
    
.dashboardHeader{
    display: flex;
    display: flex;
    height: 20vh;
    margin-left: 0px;
    color: orange;
    align-items: baseline;
    justify-content: space-around;
}
.logoutbuttanforclear{
    background: orange;
    border: 1px solid #1877f2;
    color: #f5eeee;
    font-size: 1.2rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 90px;
    font-weight: 800;
    height: 5vh;
    cursor: pointer;
}
.farmerformmaindiv{
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: auto 0;
     width: 80%;
    
}
.farmerform{
    display: flex;
      flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: auto 0;
       box-shadow: 20px 20px 50px grey;
       width: 80%;
       flex-wrap: wrap;
   }
   .forminnerdivstyel{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    text-align: left;
    width: 140%;
    margin-left: 8%;
    margin-top: 5%;
  
}
.forminnerdivsecondstyle{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    text-align: left;
    width: 140%;
    margin-left: 8%;
   

}
 .formersubmitbutton{
    background-color: orange;
    color: white;
    font-size: 23px;
    border-radius: 6px;
    border: none;
    width: 30%;
    cursor: pointer;
    font-weight: 800;
} 
.farmerform input {
    padding: 10px;
    width: 49%;
    }
    .farmerform select{
        padding: 10px;
        width: 55%;
    }
    .fieldlistingformheight{
        height: 100vh!important;
    }
}